*{
    margin: 0px;
    padding: 0px;
    font-family: "Work Sans";
}
/* .work-sans-<uniquifier> {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */